.font-93 {
    font-size: 93px;
    @media (max-width: 1400px) {
        font-size: 80px;   
    }
    @media (max-width: 991px) {
        font-size: 60px;   
    }
    @media (max-width: 768px) {
        font-size: 50px;
    }
}

.widthControl {
    width: 35%;
    @media (min-width: 645px) and (max-width: 1024px) {
        width: 40%;
    }
}

.heroImage {
    background-image: url('/public/images/hero-image.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 40vmax;
    @media (max-width:768px) {
        height: 40vmax;
        background-position: center;
    }
}